@use "../../../assets/scss/base/variables" as v;
@use "../../../assets/scss/base/mixins" as m;

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.7rem;
  a {
    background-color: rgba(v.$blanco, 0.5);
    padding: 2rem;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: rgba(v.$primary, 0.7);
      color: rgba(v.$blanco, 0.7);
      i {
        color: rgba(v.$blanco, 0.7);
      }
    }
    i {
      font-size: 2rem;
      color: v.$dark;
    }
  }
}
