<section id="sobre-mi" class="sobremi">
  <div class="sobremi__profile">
    <img
      src="../../../assets/img/profile.png"
      alt="Fabrizio Ferroni foto perfil"
    />
  </div>
  <div class="sobremi__info">
    <div class="sobremi__info--badge">
      <app-badges title="🧐 Sobre mi"></app-badges>
    </div>
    <div class="sobremi__info--title">Fabrizio Ferroni</div>
    <div class="sobremi__info--description">
      <p>
        👋 Tengo 26 años y actualmente me encuentro viviendo en Valencia 🇪🇸. Mi
        nombre es Fabrizio Ferroni, pero puedes llamarme Fabrizio. ¡Un gusto!
      </p>
      <p>
        👨‍💻 Por 1 año desarrollando y programando proyectos y aplicaciones
        personales con Angular, Spring Boot, MySQL.
      </p>
      <p>
        🎓 Graduado en Bachillerato en Informática en Instituto La Santisima
        Trinidad.
      </p>
      <p>
        💡 Intereses en desarrollo Front-end con Angular, Backend con Spring
        Boot (Java), .NET (C#), NodeJS (Javascript), Laravel (PHP), Base de
        datos como MySQL, PostgreSQL, MongoDB y DevOps.
      </p>
      <p>🚀 Tratando de ser un poco mejor que ayer todos los días.</p>
    </div>
  </div>
</section>
