<nav class="nav">
  <div class="nav__logo">
    <a href="/">
      <img src="../assets/img/logo.png" alt="Logo Fabrizio Dev" />
    </a>
  </div>
  <div class="nav__menu">
    <ul>
      <li><a href="#inicio" class="">Inicio</a></li>
      <li><a href="#sobre-mi">Sobre mi</a></li>
      <li><a href="#proyectos">Proyectos</a></li>
      <li><a href="#certificados">Certificados</a></li>
      <li><a href="#tecnologias">Tecnologias</a></li>
      <li><a href="#carrera">Mi carrera</a></li>
      <li><a href="#contactame">Contactame</a></li>
    </ul>
  </div>
</nav>
