<nav class="nav">
  <div class="nav__logo">
    <a href="/">
      <img src="../assets/img/logo.png" alt="Logo Fabrizio Dev" />
    </a>
  </div>
  <div class="nav__menu">
    <ul>
      <li><a href="#inicio" class="active">Inicio</a></li>
      <li><a href="javascript:void(0);">Sobre mi</a></li>
      <li><a href="javascript:void(0);">Portafolio</a></li>
      <li><a href="javascript:void(0);">Habilidades</a></li>
      <li><a href="javascript:void(0);">Mi carrera</a></li>
      <li><a href="javascript:void(0);">Certificados</a></li>
      <li><a href="javascript:void(0);">Contactame</a></li>
    </ul>
  </div>
</nav>
